@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:wght@400;500&display=swap");

/* general styles ------------------------------------------------------------------------------------*/
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    background-color: #000;
    color: #fff;
}

/* btnarrow styles ------------------------------------------------------------------------------------*/

.btn-arrow {
    border: none;
    background-color: #fff;
    border-radius: 55px;
    padding: 14px 34px;
    padding-right: 12px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: fit-content;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
}

.button-p{
    margin-top: 4px;
}

.btn-arrow:hover{
    padding: 14px 34px;
}

.arrow {
    transform: translateX(55px);
    transition: all 0.4s ease;
}

/* btnwand styles ------------------------------------------------------------------------------------*/
.magic-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    border: none;
    padding: 14px 34px;
    border-radius: 55px;
    cursor: pointer;
    border: 1.4px solid #fff;
    background: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;
    height: 52px;
    width: 234px;
    overflow: hidden;
    position: relative;
}

.text-wrapper-button {
    position: relative;
    height: 20px;
    overflow: hidden;
}

.p1, .p2 {
    display: block;
    transition: transform 0.35s ease;
}

.p1 {
    transform: translateY(0);
}

.p2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
}

.magic-btn:hover .p1 {
    transform: translateY(-100%);
}

.magic-btn:hover .p2 {
    transform: translateY(0%);
}


/* naviagtion styles ------------------------------------------------------------------------------------*/
.nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    border-bottom: 1px solid #ffffff33;
    padding: 16px 0;
}
nav {
    color: white;
    background-color: black;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 73px;
    min-width: 1308px;
}
.navigation {
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
.title-container {
    display: flex;
    align-items: center;
    gap: 15px;
}
h1 img {
    width: 30px;
    height: 30px;
}
h1 {
    font-weight: 500;
    font-family: "Manrope", sans-serif;
}
.ai {
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

/* hero styles ------------------------------------------------------------------------------------*/
.hero {
    background-image: url(./resources/images/hero.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-content-container {
    max-width: 878px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding: 0 16px;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name {
    font-size: 22px;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
    text-align: center;
    letter-spacing: -1.8%;
}
.text h2 {
    font-weight: 500;
    font-family: "Manrope", sans-serif;
    font-size: 64px;
    letter-spacing: -1px;
    line-height: 74px;
    text-align: center;
}
.sub {
    margin: 16px 0;
    font-size: 16px;
    font-weight: 400;
    font-family: "Manrope", sans-serif;
    letter-spacing: -1.8%;
    line-height: 28px;
    color: #ffffff99;
    font-style: regular;
    text-align: center;
}
.buttons-wrap {
    display: flex;
    gap: 28px;
}


.add-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    max-width: 833px;
    margin: auto;
    margin-top: 245px;
    margin-bottom: 125px;
}
.add-text-wrapper h2 {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1%;
    text-align: center;
}
.add-text-wrapper p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28.8px;
    letter-spacing: -1.8%;
    color: #ffffff99;
    text-align: center;
}
.carousel-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}
.line1,
.line2,
.line3 {
    display: flex;
    gap: 16px;
    margin-bottom: 28px;
    width: max-content;
}
.line1 {
    animation: scroll 15s linear infinite;
}
.line2 {
    animation: scroll 20s linear infinite;
}
.line3 {
    animation: scroll 25s linear infinite;
}
.carousel-wrapper::-webkit-scrollbar {
    display: none;
}
.carousel-element {
    background-color: #0e0e0e;
    padding: 27px 26px;
    border-radius: 6px;
    height: 114px;
    width: 606px;
    margin: 0 16px;
    display: flex;
}
.carousel-element h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.carousel-element span {
    color: #2274a5;
    cursor: pointer;
}
.carousel-element img {
    width: 31px;
    height: 31px;
    cursor: pointer;
    margin-right: 10px;
}
.section-content-wrapper {
    margin: 235px 305px;
    display: flex;
    flex-direction: column;
    gap: 244px;
}
.prompt-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    width: 830px;
    margin: 0 238px;
}
.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    margin: 0 238px;
    width: 830px;
}
.text-wrapper h2 {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1%;
    text-align: center;
}
.text-wrapper p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28.8px;
    letter-spacing: -1.8%;
    color: #ffffff99;
    text-align: center;
}
.buttons-wrap-prompts {
    display: flex;
    gap: 28px;
    justify-content: center;
}
.propmts-img-wrapper img {
    margin: 124px 0;
    cursor: pointer;
}
.images-wrapper {
    padding: 42px;
    background-color: #0e0e0e;
    width: 1310px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-top: 124px;
    border-radius: 7.27px;
}
.side-a img {
    width: 606px;
    height: 606px;
    cursor: pointer;
    border-radius: 7.27px;
}
.side-b {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
.side-b img {
    width: 292px;
    height: 292px;
    cursor: pointer;
    border-radius: 5.45px;
}
.audio-video-images-wrapper {
    margin: 0 auto;
    padding: 42px;
    background-color: #0e0e0e;
    width: 1310px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-top: 124px;
    border-radius: 7.27px;
}
.side-a-audio h2 {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 36.36px;
    line-height: 50px;
    letter-spacing: -1%;
}
.side-a-audio p {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28.8px;
    letter-spacing: -1%;
}
.side-b-audio img {
    height: 585px;
    border-radius: 7.27px;
}
.access-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 18.18px;
}
.access-button {
    border: none;
    padding: 14px 34px;
    border-radius: 55px;
    cursor: pointer;
    border: 1.4px solid #fff;
    background: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #fff;
}

.about-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
}
.features-title-wrapper h2 {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 86.4px;
    letter-spacing: -1.82%;
    color: #ffffff80;
}
.features-title-wrapper span {
    color: #fff;
}
.features-wrapper {
    border-top: solid 1px #fff;
}
.features-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 40px;
    margin-top: 60px;
}
.feature {
    width: 325px;
    height: 165px;
}
.feature-title {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.8px;
}
.feature-sub {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28.8px;
    letter-spacing: -0.8px;
    color: #828282;
}
.sign-up-container {
    background-image: url(./resources/images/Frame\ 45.png);
    min-width: 1308px;
    min-height: 474px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 19px;
    padding: 10px;
}
.signup-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 58px;
}
.signup-text h2 {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 74px;
    letter-spacing: -1%;
    text-align: center;
}

footer {
    background-color: #0e0e0e;
    min-height: 678px;
    padding: 48px 64px;
    display: flex;
    justify-content: space-around;
}
.footer-subtitle {
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    color: #828282;
}
.footer-a {
    background: transparent;
    width: 528px;
    height: 582px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 192px;
}
.list-container {
    display: flex;
    gap: 96px;
    max-width: 287px;
}
footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}
.copy ul {
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    color: #828282;
}
.footer-b {
    width: 752px;
    height: 579px;
    display: flex;
    flex-direction: column;
    gap: 192px;
}
.socialcontent-wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.contact-details {
    display: flex;
    gap: 96px;
}
.socialmedia-wrapper {
    display: flex;
    gap: 96px;
}
.icons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.icons-wrapper {
    display: flex;
    gap: 10px;
}
.copy-1 {
    display: flex;
    justify-content: space-between;
}
.last-div {
    display: flex;
    gap: 32px;
}
